/* Control */
.control {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-left: 77px;
  }
}

/* Mark */
.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $grey-44;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    // transform: scale(1.33);
  }
}

.control__input:hover + .control__mark {
  border-color: $green-62;
}

.control__input:focus ~ .control__mark {
  border-color: rgba($black, 0.3);
  outline: none;
}

.control__input:active + .control__mark {
  border-color: rgba($black, 0.3);
  // outline: none;
}

.control__input:disabled + .control__mark,
.control__input:disabled:hover + .control__mark {
  border-color: $grey-44;
  opacity: 0.3;
}

.control__input:disabled ~ .control__label,
.control__input:disabled:hover ~ .control__label {
  color: rgba($black, 0.3);
}

/* Checkbox */
.control__input[type="checkbox"]:checked + .control__mark {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  padding: 10px 6px;
  background-image: url("../img/icons/icon-form-checked.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    padding: 14px 8px;
  }
}

/* Radio */
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 11px;
  width: 16px;
  height: 16px;
  background-color: $green-62;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 13px;
    width: 20px;
    height: 20px;
  }
}
