.field {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: $grey-44;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.field::placeholder {
  color: $black;
  opacity: 0.3;
}

.field:hover {
  box-shadow: inset 0 -2px 0 $green-62;
}

.field:focus-visible {
  outline: none;
  box-shadow: inset 0 -2px 0 $green-62;
}

.field:disabled,
.field:disabled:hover {
  box-shadow: inset 0 -2px 0 $black;
  opacity: 0.3;
}

.field:disabled:focus-visible {
  outline: none;
}

.field:hover + .form__icon,
.field:focus + .form__icon,
.field:active + .form__icon {
  color: $green-62;
}

.field:disabled + .form__icon {
  color: rgba($black, 0.1);
}
