.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 105px;
  }
}

// .contacts--inner {
//   background-color: $grey-f2;
// }

.contacts__content {
  margin-bottom: 22px;

//   @include block-centering-mobile;
//   padding: 26px 0 16px 0;

  // @media (min-width: $tablet-width) {
  //   position: relative;
//     @include block-centering-tablet;
//     padding: 60px 40px 50px 40px;
  // }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-right: 23px;
    padding-left: 63px;
//     position: absolute;
//     top: 95px;
//     left: 110px;
//     width: 565px;
//     margin: 0;
//     padding: 60px 80px 50px 80px;
//     background-color: $white;
  }
}

.contacts__content .text-container {
  @media (min-width: $desktop-width) {
    width: auto;
//     margin-right: 0;
//     margin-left: 0;
  }
}

.contacts__content-container {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.contacts__content-container::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: -22px;
    right: 0;
    width: 47px;
    height: 81px;
    background-image: url("../img/icons/icon-flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}
/*
.contacts__content-wrapper {
  // padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content, 1fr, min-content;
    column-gap: 23px;
  }
}
*/

.contacts__title {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.contacts__parametrs,
.contacts__email {
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__parametrs {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__parametrs-container {
  display: flex;
  column-gap: 36px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    column-gap: 25px;
    padding-bottom: 27px;
  }
}

.contacts__parametrs-value {
  margin: 0;
}

.contacts__email {
  color: inherit;
  text-decoration-color: $green-62;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.contacts__email:hover {
  color: $green-46;
  text-decoration-color: $green-46;
}

.contacts__email:focus {
  color: $green-46;
  text-decoration-color: rgba($green-46, 0.3);
  outline: none;
}

.contacts__email:active {
  color: $green-46;
  text-decoration-color: rgba($green-46, 0.1);
}

// .contacts__item {
//   width: 139px;
// }

.contacts__address {
  font-style: normal;
  // line-height: 20px;

//   @media (min-width: $tablet-width) {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 156px;
//     text-align: right;
//   }

//   @media (min-width: $desktop-width) {
//     text-align: left;
//   }
}

// .contacts iframe {
.contacts__map {
  display: block;
  width: 100%;
  height: 455px;
  padding-bottom: 42px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 457px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    // position: absolute;
    width: 50%;
    padding-bottom: 0;
  }
}

.contacts__button {
  display: block;
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 105px;
    left: 175px;
  }
}
