.product-size-form {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

.product-size-form__list {
  @include list-zeroing;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

.product-size-form__item {
  width: 82px;
  height: 52px;
  margin-right: 7px;
  margin-bottom: 7px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 52px;
  }
}

.product-size-form__item:nth-child(3n) {
  margin-right: 0;
}

.product-size-form__button {
  width: 100%;
  padding: 18px;
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $white;
  background-color: $green-63;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.product-size-form__button:hover {
  color: $white;
  background-color: $green-56;
}

.product-size-form__button:focus {
  opacity: 0.7;
  outline: none;
}

.product-size-form__button:active {
  color: rgba($white, 0.3);
  background-color: $green-56;
  opacity: 1;
}

.product-size-form__button:disabled,
.product-size-form__button--disabled,
.product-size-form__button--disabled:focus {
  opacity: 0.3;
}

.product-size-form__button:disabled:hover,
.product-size-form__button--disabled:hover,
.product-size-form__button--disabled:active {
  color: $grey-44;
  background-color: $white;
}
