.catalog {
  margin-top: -17px;

  @media (min-width: $tablet-width) {
    position: absolute;
    // top: 628px;
    bottom: 0;
    left: calc((100% - 668px) / 2);
    min-height: 119px;
    // margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    left: calc((100% - 1050px) / 2);
  }
}

.catalog__sections {
  @include list-zeroing;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
    // position: absolute;
    // top: 631px;
    // left: calc((100% - 668px) / 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // min-height: 119px;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    // left: calc((100% - 1050px) / 2);
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
  }
}

// .catalog__section {
  // background-color: $grey-f2;

  // @media (min-width: $desktop-width) {
  //   width: 570px;
  //   margin-bottom: 30px;
  // }
// }

// .catalog__section:not(:first-child) {
//   margin-top: 20px;

//   @media (min-width: $tablet-width) {
//     margin-top: 30px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-top: 0;
//   }
// }

.catalog__section {
  // position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 24px 20px 22px 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
//     padding: 77px 316px 57px 53px;
  }

//   @media (min-width: $desktop-width) {
//     padding-right: 51px;
//   }
}

// .catalog__section-container::before {
//   position: absolute;
//   content: "";
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: $green-main;

//   @media (min-width: $tablet-width) {
//     width: 200px;
//     height: 200px;
//     top: 90px;
//     right: 60px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 100px;
//     height: 100px;
//     top: 47px;
//     left: 52px;
//   }
// }

// до переноса псевдоэлемента в ссылку
// .catalog__section::after {
//   position: absolute;
//   content: "";
//   background-repeat: no-repeat;
//   opacity: 0.5;
// }

// .catalog__section--interior::after {
//   top: 23px;
//   right: 36px;
//   width: 40px;
//   height: 62px;
//   background-image: url("../img/icons/catalog-sections/icon-interior.svg");

// //   @media (min-width: $tablet-width) {
// //     top: 154px;
// //     left: 530px;
// //     transform: scale(3.88);
// //   }

// //   @media (min-width: $desktop-width) {
// //     top: 67px;
// //     left: 85px;
// //     transform: scale(1.94);
// //   }
// }

// .catalog__section--toys::after {
//   top: 21px;
//   right: 27px;
//   width: 60px;
//   height: 60px;
//   background-image: url("../img/icons/catalog-sections/icon-toys.svg");

//   @media (min-width: $tablet-width) {
//     top: 178px;
//     left: 510px;
//     transform: scale(4);
//   }

//   @media (min-width: $desktop-width) {
//     top: 80px;
//     left: 67px;
//     transform: scale(2);
//   }
// }
// -------


// .catalog__section .title--h2 {
//   padding-top: 5px;
//   padding-left: 70px;
//   line-height: 37px;

//   @media (min-width: $tablet-width) {
//     padding: 0;
//   }

//   @media (min-width: $desktop-width) {
//     padding-bottom: 48px;
//     padding-left: 162px;
//   }
// }

/*
.catalog__section-description {
  position: relative;
  padding: 29px 0 23px 0;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }
}

.catalog__section-description::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $grey-d9;

  @media (min-width: $tablet-width) {
    content: none;
  }
}
*/
.catalog__section-link {
  position: relative;
  display: block;
  padding: 24px 92px 31px 30px;
  // font-family: "OpenSans", "Helvetica", sans-serif;
  // font-weight: 400;
  // font-size: 19px;
  // line-height: 24px;
  color: $white;
  text-decoration: none;

  // @media (min-width: $tablet-width) {
  //   padding-top: 30px;
  //   font-size: 20px;
  //   line-height: 30px;
  // }

  // @media (min-width: $desktop-width) {
  //   padding-top: 4px;
  // }
}

.catalog__section:nth-child(odd) .catalog__section-link {
  background-color: $green-63;
}

.catalog__section:nth-child(even) .catalog__section-link {
  background-color: $green-56;
}

.catalog__section-link:hover {
  margin-top: -5px;
  transition: transform 5s ease-in;
}

.catalog__section:nth-child(odd) .catalog__section-link:hover {
  background-color: $green-59;
}

.catalog__section:nth-child(even) .catalog__section-link:hover {
  background-color: $green-46;
}

.catalog__section-link:focus {
  outline: none;
}

.catalog__section:nth-child(odd) .catalog__section-link:focus {
  background-color: rgba($green-59, 0.7);
}

.catalog__section:nth-child(even) .catalog__section-link:focus {
  background-color: rgba($green-46, 0.7);
}

.catalog__section:nth-child(odd) .catalog__section-link:active {
  background-color: $green-59;
}

.catalog__section:nth-child(even) .catalog__section-link:active {
  background-color: $green-46;
}

.catalog__section-link::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  opacity: 0.5;
}

.catalog__section-link--interior::after {
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icons/catalog-sections/icon-interior.svg");
}

.catalog__section-link--toys::after {
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icons/catalog-sections/icon-toys.svg");
}

.catalog__section-link:hover::after {
  opacity: 0.7;
}

.catalog__section-link:active::after {
  opacity: 0.3;
}

// .catalog__section::after .catalog__section-link:active {
//   opacity: 0.3;
// }

// .catalog__section-link::before {
//   position: absolute;
//   content: "";
//   bottom: 7px;
//   left: 99px;
//   width: 18px;
//   height: 2px;
//   background-color: $black;

//   @media (min-width: $tablet-width) {
//     bottom: 13px;
//     left: 132px;
//   }
// }

// .catalog__section-link:hover::before {
//   width: 26px;
//   transition: transform 3s ease-out;
// }

// .catalog__section-link::after {
//   position: absolute;
//   content: "";
//   bottom: 3px;
//   left: 117px;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 5px 0 5px 5px;
//   border-color: transparent transparent transparent $black;

//   @media (min-width: $tablet-width) {
//     left: 149px;
//     bottom: 9px;
//   }
// }

// .catalog__section-link:hover::after {
//   left: 125px;
//   transition: transform 3s ease-out;

//   @media (min-width: $tablet-width) {
//     left: 158px;
//   }
// }
