.modal__description {
  font-size: 15px;
  line-height: 30px;
}

.modal__button {
  font-size: 17px;
  line-height: 16px;
  color: $white;
  background-color: $green-63;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.modal__button:hover {
  color: $white;
  background-color: $green-56;
}

.modal__button:focus {
  opacity: 0.7;
  outline: none;
}

.modal__button:active {
  color: rgba($white, 0.3);
  background-color: $green-56;
  opacity: 1;
}

.modal__button:disabled,
.modal__button--disabled,
.modal__button--disabled:focus {
  opacity: 0.3;
}

.modal__button:disabled:hover,
.modal__button--disabled:hover,
.modal__button--disabled:active {
  color: $grey-44;
  background-color: $white;
}
