.product-size-form {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  // @media (min-width: $tablet-width) {
  //   font-size: 20px;
  //   line-height: 30px;
  // }
}

.product-size-form__list {
  @include list-zeroing;
  display: flex;
  flex-wrap: wrap;
}
