// Цвета
$black: #000000;
$black-01: #000101;
$black-23:#231f20;
$green-46: #46c1ae;
$green-56: #56c3b2;
$green-59: #59d5bc;
$green-62: #62d1ba;
$green-63: #63d1bb;
$grey-44: #444444;
$grey-c6: #c6c6c6;
$grey-e5: #e5e5e5;
$grey-ec: #ececec;
$grey-f1: #f1f1f1;
$grey-f9: #f9f9f9;
$white: #ffffff;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
