.main-link {
  font-size: 14px;
  line-height: 30px;
  color: $grey-44;
}

.main-link:hover {
  opacity: 0.6;
}

.main-link:focus {
  opacity: 0.4;
  outline: none;
}

.main-link:active {
  opacity: 0.3;
}
