.product-week .title--h4 {
  color: $green-63;
  text-transform: uppercase;
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
}

.product-week__parametrs {
  font-size: 15px;
  line-height: 20px;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
}
