.reviews__container {
  @media (min-width: $tablet-width) {
    position: relative;
    // display: grid;
    // grid-template-columns: 1fr min-content;
    // grid-template-rows: min-content 1fr min-content;
    // gap: 39px 10px;
  }
}

.reviews__title {
  // grid-column: 1 / 2;
  // grid-row: 1 / 2;
}

.reviews__list {
  @include list-zeroing;
}

.reviews__description {
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    // grid-column: 1 / -1;
    // grid-row: 2 / 3;
  }
}

.reviews__owner-instagram {
  font-size: 17px;
  line-height: 24px;
}

.reviews__slider-controls {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.reviews__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}
