.video__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 455px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 683px;
  }
}

.video__title {
  @media (min-width: $tablet-width) {
    // order: 2;
  }
}

.video .title--h4 {
  line-height: 24px;
}

.video__block {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.video__text {
  @media (min-width: $tablet-width) {
//   line-height: 24px;
    // order: 3;
  }
}

.video__button {
  @media (min-width: $tablet-width) {
    // order: 4;
  }
}

.video .button {
  font-size: 18px;
  line-height: 16px;
}
