// .user-list {
//   order: 1;
// }

.user-list__item {
  text-align: center;
  background-color: $white;

  // @media (min-width: $desktop-width) {
  //   background-color: transparent;
  // }
}

.user-list__link {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  background-color: $white;
  text-decoration: none;

  // @media (min-width: $tablet-width) {
  //   font-size: 18px;
  //   line-height: 24px;
  //   font-weight: 400;
  // }

  // @media (min-width: $desktop-width) {
  //   font-size: 20px;
  //   line-height: 30px;
  //   color: $white;
  //   background-color: transparent;
  // }
}

.user-list__link:hover {
  opacity: 0.6;
}

.user-list__link:focus {
  opacity: 0.4;
  outline: none;
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__link--active {
  text-decoration: underline;
  // text-decoration-color: $green-main;
  // text-decoration-thickness: 2px;
  // text-underline-offset: 14px;

  // @media (min-width: $desktop-width) {
  //   text-decoration-color: $white;
  // }
}

.user-list__button {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  background-color: $white;
  border: none;
}

.user-list__button-name {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

// .user-list--inner .user-list__link {
//   @media (min-width: $desktop-width) {
//     color: $black;
//     background-color: transparent;
//   }
// }

// .user-list--inner .user-list__link--active {
//   @media (min-width: $desktop-width) {
//     text-decoration-color: $green-main;
//   }
// }
